*{ margin:0 ;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%; 
  width: 100%;
  font-family: sans-serif;
  
}
body{ 
  height: 100%; 
  width: 100%;  
}

header{ 
  width: 100%;
}
.header div{ 
  padding: 2vh ;
}
.header{
  width: 90%;
  margin: auto;
  display: flex; 

  background-color: white;
  height: 7vh;
}
.login{
  margin-left: auto;
}
.login a{
  text-decoration:none;
}
.logo{
  margin-left: auto;
}
/*---------------------------navigation bar------------*/
.menu-icon {
  margin-left: 4vh;
  margin-top: auto;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
}
.menu-icon span {
  background-color: black;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.menu-icon span:first-child {
  top: 0;
}
.menu-icon span:nth-child(2) {
  top: 6px;
}
.menu-icon span:last-child {
  top: 12px;
}
.menu-icon:hover span:nth-child(2) {
  opacity: 0;
}
.menu-icon:hover span:first-child,
.menu-icon:hover span:last-child {
  top: 6px;
  background-color: red;
}
.menu-icon:hover span:first-child {
  transform: rotate(45deg);
}
.menu-icon:hover span:last-child {
  transform: rotate(-45deg);
}
/*---------------------------landing section-----------*/
.landing-page img{
  width: 100%;
  height:100%;
  margin-bottom: 40px;
}
h1{
  font-size: 36px;
  font-family: Akkurat, Arial, sans-sarif;
  padding-bottom: 25px;
}
.content{
  text-align: center;
  width: 60%;
  margin-left: 15%;
  position: absolute; 
  top: 50vh;
  color: white;
}
.content p{
  font-family: "Akkurat", Arial, sans-serif;
  font-weight: 400;
  font-size: 15.6px;
  line-height: 27px;
  overflow-wrap: break-word; 
  padding-left: 8px;
  padding-right: 8px;
}
.join{
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5rem;
}
.paragaph{
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-bottom: 40px;
  line-height: 27px;

}

.section1{
  width: 100%;
  padding-left: 10%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: black;
  text-align: left;
  font-family: "Akkurat", Arial, sans-serif;
  font-size: 18.5143px;
  line-height: 1.5;
  background-color: #e5f1f4;
}

.most div a,.fast div a{
color:black;
}

.most{ 
margin-bottom: 2vh;
}

.current {
  width: 100%;
  height: 100%;
  background: green;
  background: -moz-linear-gradient(top, #016931 15%, #0082A7 15%, white 50%);
  background: -webkit-linear-gradient(top, #016931 15%, #0082A7 15%, white 50%);
  background: linear-gradient(to bottom, #016931 15%, #0082A7 50%, white 50%);
  
}

.current .section  {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.current h3 {
  text-align: center;
  color: #fff;
  font-family:Cambria, serif;
  padding-bottom: 30px;
  padding-top: 20px;
}

.pic1,.pic2, .pic3 {
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%), url(https://www.triodos.nl/binaries/content/gallery/tbnl/flex-card-images/homepage/over-triodos-bank---helen-1.jpeg/over-triodos-bank---helen-1.jpeg/triodoshippo%3AflexRegular);
  background-size: cover;
  height: 17em;
  width: 13em;
}
.card {

  border-radius: 20px;
  margin: 20px;
  transition: 0.7s ease-out;
}

.info {
  text-align: left;
  color: white;
  padding: 45px 15px 0px 15px;
}


.section2{
  width: 100%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: black;
  text-align: left;
  font-family: "Akkurat", Arial, sans-serif;
  font-size: 18.5143px;
  line-height: 1.5;
  background-color:white;
}
.subsection2{
  width: 28%;
}
.subsection2 div a{
  color:black;
}
footer{

  background-color: rgb(0, 0, 107);
}
#options{
 margin-top:6vh;
 margin-left:10%;
 border-radius: 5px;
 height: 8vh;
 width: 25%;
 font-size: 18px;
 padding: 10px;
 align-items: center;
 background-color: transparent;
 color:white;
 border: 2px solid #708296;

}
.subselect{
  background-color: white;
  color: black;
}

.footerh2{
  margin-top:6vh;
  color: white;
  margin-left: 10%; 
}
.subfooterP{
  display: flex;
  color: white;
  margin-left: 10%; 
  padding-top: -5px;
 
  
}
.subfooterCH{
  color: white;
  width: 45%;
  margin-top:0;
  margin-bottom: 6vh;
}

.first a{
  margin-right: 3vh ;
}

.subfooterCH a{
  text-align: left;
  font-family: "Akkurat", Arial, sans-serif;
  font-size: 18.5143px;
  line-height: 1.5;
  color: white;
  padding: 1vh;
  text-decoration: none;
}
.subfooterCH .second{
  display: flex;
  margin-left: 5%;
}

 @media (max-width:820px){
  .section1{
   display:flex;
   flex-direction:row:
  }
  .most .fast{
    max-width: 30%;

  }
  .fast{
    margin-left: 10%;
  }
  .section2{
    flex-direction: column;
  }
  .section2 div{
    padding-bottom: 2vh ;
  }
  .subfooterP{
    flex-direction: column;
  }
  .subfooterCH{
    width: 90%;
  }
  .first .fa-brands{
    padding-top: 2vh;
  }
  .second{
    flex-direction: column;
  }
  .second div {
    padding-bottom: 2vh;

  }
  #options{
    width: 90%;
    margin-left: 5%;
  }
  .current .section  {
   flex-direction: column;
   padding-left: 5vw;
  
  }
} 
